{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}


  <div class="container">

  <form id="new-lobster">
  <h1>Add a Lobster</h1>
    <div class="form-group">
      <input type="text" class="form-control" id="name" placeholder="name" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="hobbies" placeholder="hobbies" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

   <div id="all">

      <h2>All Lobsters</h2>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>hobbies</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>





  </div>

{% endblock %}
